.faqWrapper {
    margin-bottom: var(--ifm-spacing-vertical);
    .faq {
        position: relative;
        --wrapper-border-left-width: var(--ifm-alert-border-left-width) !important;
        .icon {
            display: block;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
        }
    }
}
