details.solution {
    --ifm-alert-background-color: var(--ifm-color-success-contrast-background);
    --ifm-alert-foreground-color: var(--ifm-color-success-contrast-foreground);
    --ifm-alert-border-color: var(--ifm-color-success-dark);
}
